@model HandHunters.Models.Carta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Carta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCarta" class="control-label"></label>
                <input asp-for="NombreCarta" class="form-control" />
                <span asp-validation-for="NombreCarta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCalidad" class="control-label"></label>
                <input asp-for="IdCalidad" class="form-control" />
                <span asp-validation-for="IdCalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <input asp-for="IdEstado" class="form-control" />
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdIdioma" class="control-label"></label>
                <input asp-for="IdIdioma" class="form-control" />
                <span asp-validation-for="IdIdioma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFranquicia" class="control-label"></label>
                <input asp-for="IdFranquicia" class="form-control" />
                <span asp-validation-for="IdFranquicia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
